<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
</head>
<body>
<h1>Welcome</h1>
<a href="/add_product">Add a Product</a><br>
<% products.each do |product| %>
  <%= product %><br>
<% end %>
</body>
</html>
